<%- include('partials/header') %>
<main>
    <h2><%= title %></h2>
    <p>This website is part of a final project for CSE 340, Web Backend Development. Created by Connor Butterfield, it attempts to provide all the functions one would expect on the website of a car dealership.</p>
    <p>To view the GitHub repository, click the following link:</p>
    <a href="https://github.com/obviouslyweb/cse340-car-dealership">GitHub Repository</a>
</main>
<%- include('partials/footer') %>