<%- include('partials/header') %>
<main>
    <h2>Featured Vehicles</h2>
    <p>Content coming soon!</p>
    <h2>Why Choose Fuse?</h2>
    <p>Fuse Automobiles is the premiere digital car dealership, providing you with the wheels you need for a fraction of the cost.</p>
    <p>Founded in 2018, we pride ourselves on the quality and speed of our website, which you're on right now.</p>
</main>
<%- include('partials/footer') %>