    <footer>
        <p>&copy; <%= currentYear %> Fuse Automobiles, 2026. All rights reserved.</p>
        <a class="lowlight footer" href="/about">About This Website</a>
    </footer>
</body>
</html>