<%- include('../../partials/header') %>
<main>
    <h1>Sign In</h1>
    <p>Enter your login credentials to access your dashboard.</p>

    <form method="POST" action="/login" class="login-form form-style">
        <!-- Username/email field -->
        <div class="form-group">
            <label name="email">Username / Email</label>
            <input type="text" name="email" id="email" required placeholder="Enter username or email here">
        </div>

        <!-- Password field -->
         <div class="form-group">
            <label name="password">Password</label>
            <input type="password" name="password" id="password" minlength="8" required placeholder="Enter your password here">
         </div>
        
        <!-- Submit button -->
        <button type="submit" class="btn submit">Sign In</button>
    </form>

        <p>Don't have an account yet? You can <a href="/register">register here!</a></p>

</main>
<%- include('../../partials/footer') %>