<%- include('../../partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>
        Enter your email and password to access your account. Do not have an account? <a href="/register">Register here</a>.
    </p>

    <form method="POST" action="/login" class="login-form form-style">
        <!-- Email field -->
        <div class="form-group">
            <label name="email">Email</label>
            <input type="email" name="email" id="email" required placeholder="Enter your email here">
        </div>

        <!-- Password field -->
         <div class="form-group">
            <label name="password">Password</label>
            <input type="password" name="password" id="password" minlength="8" required placeholder="Enter your password here">
         </div>
        
        <!-- Submit button -->
        <button type="submit">Sign In</button>

        <div class="form-footer">
            <p>New user? <a href="/register">Create an account</a></p>
        </div>
    </form>
</main>
<%- include('../../partials/footer') %>